@font-face {
  font-family: Open Sans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
body{
  font-family: Open Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header{
  min-width:1660px;
  margin: 0 auto;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  position:relative;
  background-color: #000000;
  z-index: 1;
}
.header::before{
  content:"";
  display:block;
  position:absolute;
  background-color: #000000;
  opacity: 0.60;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
.header-content{
  z-index: 1;
  position: relative;
}
.container{
  display:flex;
  align-items:center;
  padding-top:20px;
}
.header-logo{
  width:179px;
  margin-right: 525px;
  margin-left:247px;
}
.menu{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 13px;
  text-transform: uppercase;
  width:522px;
  margin-right:244px;
}
.menu-list{
  display:flex;
  list-style: none;
}
.menu-list-item:nth-last-child(n+2){
  margin-right:35px;
}
.menu-link{
  text-decoration: none;
  color:#ffffff;
}
.welcome-container{
  flex-wrap: wrap;
  color:#ffffff;
  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align:center;
  width: 680px;
  padding-top:80px;
  padding-bottom:143px;
  margin-left:auto;
  margin-right:auto;
}
.body-page{
  width: 1171px;
  display:flex;
  padding-top:65px;
  margin-right:auto;
  margin-left:auto;
}
.last-news-section{
  width: 780px;
  margin-right:116px;
}
.last-post{
  display:flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.last-post:nth-child(n+2){
  margin-top: 60px;
}
.post-preview{
  display: block;
  margin-right: 30px;
}
.post-image{
  width:381px;
}
.post-content{
  width:366px;
  box-sizing: border-box;
}
.post-tags-list{
  box-sizing: border-box;
  list-style: none;
  display:flex;
  padding-left:0px;
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:0px;
}
.post-tags-list-item{
  font-size:14px;
  font-weight: bold;
}
.post-tags-list-item:nth-last-child(n+2){
  margin-right: 19px;
}
.tag-item-link{
   text-decoration: none;
   color:#b59f5b;
   text-transform: uppercase;
}
.post-title{
  box-sizing: border-box;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 9px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:0px;
}
.title-link{
  text-decoration: none;
  color:#0f0d0e;
}
.post-add-info{
  box-sizing:border-box;
  display:flex;
  margin-top: 36px;
  margin-bottom:0px;
  padding:0;
  
}
.post-publish-date{
  font-size: 12px;
  margin-right: 15px;
  color:#888888;
}
.post-author{
  font-size: 12px;
  font-weight: bold;
  color:#000000;
}

.post-description{
  padding-left:0px;
  font-size: 15px;
  line-height: 22px;
  color:#0f0d0e;
  margin-top: 45px;
  padding-top:0px;
  padding-bottom:20px;
}

.side-bar{
  width:273px;
}
.new-posts-block{
align-items: flex-start;
}
.new-posts-block-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:0px;
  margin-bottom:29px;
  padding-top:0px;
}
.new-posts-block-title::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:14px;
  
}
.new-posts-block-title-link{
 text-decoration: none;
 color:#0f0d0e;
 text-transform: uppercase;
 font-size:14px;
 font-weight: bold;
}
.new-post{
  display:flex;
  margin-bottom: 22px;
}
.new-post-preview{
  margin-right:15px;
}
.new-post-image{
  width:71px;
}
.new-post-content{
  width:182px;
}
.new-post-date{
  font-size:12px;
  color:#000000;
  opacity:54%;
  margin-bottom:2px;
  padding-top:0px;
}
.new-post-title{
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
}
.new-post-title-link{
  text-decoration:none;
  color:#000000;
}
.search{
  display:flex;
  margin-top:59px;
}
.search-field{
  display:block;
  box-sizing: border-box;
  width: 220px;
  height:48px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  
  font-size: 13px;
  color:#000000;
  
  background-color:#f4f7f6;
}
.search-button{
  width: 48px;
  height: 48px;
  border:none;
  background-color: #b59f5b;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat:no-repeat;
  background-size:18px;
  background-position: center;
}
.email-block{
  margin-top:58px;
}
.email-header{
  display:flex;
  align-items: center;
  flex-direction: column;
  font-size:14px;
  color:#0f0d0e;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:29px;
}
.email-header::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:10px;
}

.email-field{
  display:block;
  box-sizing: border-box;
  width: 269px;
  height:48px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  
  font-size: 13px;
  color:#000000;
  
  background-color:#f4f7f6;
}
.subscription-button{
  width: 269px;
  height: 48px;
  border:none;
  background-color: #b59f5b;
  font-size:14px;
  color:#ffffff;
  font-weight:bold;
  text-transform:uppercase;
  margin-top:17px;
}
.tags-block{
  margin-top:60px;
}
.tags-header{
  display:flex;
  align-items: center;
  flex-direction: column;
  font-size:14px;
  color:#0f0d0e;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:19px;
}
.tags-header::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:10px;
}
.tags-list{
  display:flex;
  flex-wrap:wrap;
  list-style: none;
  padding:0;
}
.tags-list-item{
  display:block;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  border:3px solid #eeeeee;
  margin-bottom:6px;
  padding:3px 14px;
}
.tags-list-item-link{
  text-decoration:none;
  color:#0f0d0e;
}
.tags-list-item:nth-last-child(n+2){
  margin-right:5px;
}
.topics-header{
  display:flex;
  align-items: center;
  flex-direction: column;
  font-size:14px;
  color:#0f0d0e;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:19px;
}
.topics-block{
  margin-top:54px;
}
.topics-header::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:10px;
}
.topics-list{
  list-style: none;
  padding-left:0px;
}
.topics-list-item{
  display:flex;
  font-size:14px;
  font-weight:bold;
  border-bottom:1px solid #eeeeee;
  padding-bottom:15px;
}
.topics-list-item:nth-last-child(n+2){
  margin-bottom:12px;
}
.topics-list-item-link{
  display:block;
  text-decoration:none;
  color:#000000;
  margin-right:5px;
}
.topics-count{
  display:block;
  font-size:12px;
  color:#b59f5b;
}
.footer{
  width: 1171px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0px;
  text-align: center;
  padding-top:40px;
 
}
.socials-list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: center; 
  padding: 30px 0;
  background-color: #f4f7f6;
  justify-content: center;
  
}
.socials-list-item:nth-last-child(n+2){
  margin-right:28px;
}
.twitter{
 display: block;
 box-sizing: border-box;
 text-decoration:none;
 background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.pinterest{
  display: block;
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
  background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.facebook{
  display: block;
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
   background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.instagram{
  display: block;
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
   background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.tumblr{
  display: block;
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
  background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}
