@font-face {
  font-family: Open Sans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}
body{
  font-family: Open Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
p{
    margin:0;
  }
.wrapper{
  min-height: 100%;
}
.popup{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.popup-container{
  box-sizing: border-box;
  position: sticky;
  background-color: white;
  width: 20%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}
/*
.products-block-header{
    display: flex;
    justify-content: center;
    margin:0;
  }*/
  .popup-title{
     margin-top: 0;
     margin-bottom: 20px;
     text-transform: uppercase;
     font-weight: bold;
     font-size: 20px;
     display: flex;
     align-items: center;
     flex-direction: column;
  }
  .popup-title::after{
     display:block;
     content:"";
     width: 66px;
     border-bottom: 3px solid #e1d9bd;
     margin-top:6px;
     padding-top: 0;
  }
  .dropdown-title{
    display: block;
    font-size: 12px;
  }
  .select{
    cursor: pointer;
    border: none;
    background-color:#ebebeb;
    font-size: 12px;
    color: gray;
    width:100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 8px;

    -webkit-appearance:none;
    -moz-appearance:none;
    background-image:url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: center right 7px;

    margin-bottom: 25px;
  }
  .radio-buttons{
    margin-bottom: 20px;
  }
  .radio-group{
    cursor: pointer;
  }
  .radio-buttons-title{
    display: block;
    font-size: 12px;
  }
  .radio-group:nth-of-type(n+2){
    margin-left: 15px;
  }
  .radio-group-text{
   font-size: 12px;
  }
  .radio-group-text:before{
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    vertical-align: middle;
    margin-right: 4px;
  }
  .radio:checked ~ .radio-group-text:before{
    background-image: url(../svg/form-circle.svg);
  }
  .radio{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
  }
  .text-field-title{
    font-size: 12px;
    display: block;
    margin-bottom: 6px;
  }
  .textarea{
    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    height: 100px;
    min-height: 40px;
    max-height: 320px;
    background-color:#ebebeb ;
    border: none;
    margin-bottom: 20px;
    padding-top:10px ;
    padding-left: 10px;
  }
  .send-button{
  width: 100%;
  height: 48px;
  border:none;
  background-color: #b59f5b;
  font-size:14px;
  color:#ffffff;
  font-weight:bold;
  text-transform:uppercase;
  cursor: pointer;
  }
  .popup-close{
    position: absolute;
    width: 30px;
    height: 16px;
    top:-30px;
    right:0;
    background-color: transparent;
    border: none;
    padding: 0;
    text-indent: -9999px;
    cursor: pointer;
  }
  .popup-close:before{
    width: 16px;
    height: 16px;
    content: "";
    background-image: url(../svg/form-x.svg);
    position: absolute;
    top: 50%;
    left: 50%;
  }
.header{
  width:100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  position:relative;
  background-color: #000000;
  z-index: 1;
}
.header::before{
  content:"";
  display:block;
  position:absolute;
  background-color: #000000;
  opacity: 0.60;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
.header-content{
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
  position: relative;
}
.nav-container{
  width:100%;
  display:flex;
}
.header-logo{
  width:100%;
}

.welcome-container{
  flex-wrap: wrap;
  color:#ffffff;
  text-transform: uppercase;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 0;
  margin-top: 0;
}
.trends-block{
    max-width: 100%;
  }
  .trends-block-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
  }
  .trends-header-title{
     margin-top: 0;
     text-transform: uppercase;
     font-weight: bold;
     display: flex;
     align-items: center;
     flex-direction: column;
  }
  .trends-header-title::after{
     display:block;
     content:"";
     width: 66px;
     border-bottom: 3px solid #e1d9bd;
     margin-top:10px;
  }
  .trends-container{
    display: flex;
    width: 100%;
  }
  .trend{
    position:relative;
    display:flex;
    align-items: flex-end;
  }
  .trend::after{
    content: "";
    display:block;
    position:absolute;
    background-color: #000000;
    opacity: 0.60;
    top:0;
    bottom:0;
    right:0;
    left:0;

  }
   .trend-plants{
    background-image: url(../images/trend1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
   }
   .trend-cheese{
    background-image: url(../images/trend2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
   }
   .trend-mountains{
    background-image: url(../images/trend3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
   }
   .trend-lemons{
    background-image: url(../images/trend4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
   }
  
  .trend-content{
    z-index: 1;
    width: 70%;
    padding: 30px 30px 28px 20px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    border:3px solid #b59f5b ;
    display: flex;
    flex-direction: column;
  }
  .trend-container-title{
    width:100%;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  .trend-container-tags-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .trend-container-tags-list-item{
    font-size: 14px;
    margin: 0 0 13px 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #b59f5b;
  }
  .trend-container-tags-list-item:nth-last-child(n+2){
    margin-right: 19px;
  }
  .body-page{
    display:flex;
  }
  .post-tags-list{
  box-sizing: border-box;
  list-style: none;
  display:flex;
  padding-left:0px;
  margin-top:0px;
  margin-bottom:0px;
  padding-bottom:0px;
}
.post-tags-list-item{
  font-size:14px;
  font-weight: bold;
}
.post-tags-list-item:nth-last-child(n+2){
  margin-right: 19px;
}
.tag-item-link{
   text-decoration: none;
   color:#b59f5b;
   text-transform: uppercase;
}
.post-title{
  box-sizing: border-box;
  text-transform: uppercase;
  margin-top: 9px;
  margin-bottom:0px;
  padding-bottom:0px;
  padding-top:0px;
}
.title-link{
  text-decoration: none;
  color:#0f0d0e;
}
.post-add-info{
  box-sizing:border-box;
  display:flex;
  margin-bottom:0px;
  padding:0;
}
.post-publish-date{
  font-size: 12px;
  margin-right: 15px;
  color:#888888;
}
.post-author{
  font-size: 12px;
  font-weight: bold;
  color:#000000;
}

.post-description{
  padding-left:0px;
  color:#0f0d0e;
  padding-top:0px;
  padding-bottom:20px;
}


.new-posts-block{
align-items: flex-start;
}
.new-posts-block-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top:0px;
  margin-bottom:29px;
  padding-top:0px;
}
.new-posts-block-title::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:14px;
  
}
.new-posts-block-title-link{
 text-decoration: none;
 color:#0f0d0e;
 text-transform: uppercase;
 font-weight: bold;
}
.new-post{
  display:flex;
  margin-bottom: 22px;
}
.new-post-date{
  font-size:12px;
  color:#000000;
  opacity:54%;
  margin-bottom:2px;
  padding-top:0px;
}
.new-post-title{
  font-size:14px;
  font-weight:bold;
  text-transform:uppercase;
}
.new-post-title-link{
  text-decoration:none;
  color:#000000;
}
.search{
  display:flex;
  margin-top:59px;
}
.search-field{
  display:block;
  box-sizing: border-box;
  height:48px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  
  font-size: 13px;
  color:#000000;
  
  background-color:#f4f7f6;
}
.search-button{
  height: 48px;
  border:none;
  background-color: #b59f5b;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat:no-repeat;
  background-size:18px;
  background-position: center;
}
.email-header{
  display:flex;
  align-items: center;
  flex-direction: column;
  color:#0f0d0e;
  font-weight:bold;
  text-transform:uppercase;
}
.email-header::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:10px;
}

.email-field{
  display:block;
  box-sizing: border-box;
  height:48px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  
  font-size: 13px;
  color:#000000;
  
  background-color:#f4f7f6;
}
.subscription-button{
  height: 48px;
  border:none;
  background-color: #b59f5b;
  font-size:14px;
  color:#ffffff;
  font-weight:bold;
  text-transform:uppercase;
  margin-top:17px;
}
.tags-header{
  display:flex;
  align-items: center;
  flex-direction: column;
  color:#0f0d0e;
  font-weight:bold;
  text-transform:uppercase;
  margin-bottom:19px;
}
.tags-header::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:10px;
}
.tags-list{
  display:flex;
  flex-wrap:wrap;
  list-style: none;
  padding:0;
}
.tags-list-item{
  display:block;
  font-size:12px;
  font-weight:bold;
  text-transform:uppercase;
  border:3px solid #eeeeee;
  margin-bottom:6px;
  padding:3px 13px;
}
.tags-list-item-link{
  text-decoration:none;
  color:#0f0d0e;
}
.tags-list-item:nth-last-child(n+2){
  margin-right:5px;
}
.topics-header{
  display:flex;
  align-items: center;
  flex-direction: column;
  color:#0f0d0e;
  font-weight:bold;
  text-transform:uppercase;
}
.topics-header::after{
  display:block;
  content:"";
  width: 66px;
  border-bottom: 3px solid #e1d9bd;
  margin-top:10px;
}
.topics-list{
  list-style: none;
  padding-left:0px;
}
.topics-list-item{
  display:flex;
  font-size:14px;
  font-weight:bold;
  border-bottom:1px solid #eeeeee;
  padding-bottom:15px;
}
.topics-list-item:nth-last-child(n+2){
  margin-bottom:12px;
}
.topics-list-item-link{
  display:block;
  text-decoration:none;
  color:#000000;
  margin-right:5px;
}
.topics-count{
  display:block;
  font-size:12px;
  color:#b59f5b;
}
 .products-block{
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}
  .products-block-header{
    display: flex;
    justify-content: center;
    margin:0;
  }
  .products-block-header-title{
     margin-top: 0;
     margin-bottom: 0;
     text-transform: uppercase;
     font-weight: bold;
     display: flex;
     align-items: center;
     flex-direction: column;
  }
  .products-block-header-title::after{
     display:block;
     content:"";
     width: 66px;
     border-bottom: 3px solid #e1d9bd;
     margin-top:10px;
     padding-top: 0;
  }
  .products-container{
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 0 auto;
    /*padding: 0 15px;*/
    /*column-gap: 65px;*/
    flex-shrink: 0;
  }
  .product-block{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  .product-preview{
    padding: 0 20px;
  }
  .product-img{
    width: 100%;
    background-color: #888888;
  }
  .product-body{
    /*height:206px;*/
    margin-top: -33px;
    padding: 50px 20px 27px 20px;
    border:3px solid #b59f5b;
  }
  .product-name{
    font-weight: bold;
    text-transform: uppercase;
  }
  .product-description{
    font-size: 15px;
  }
  .product-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
  }
  .product-prices{
    font-weight: bold;
  }
  .product-price-value{
    font-size: 20px;
  }
  .product-price-old{
    font-size: 14px;
    text-decoration: line-through;
  }
  .product-button{
   width: 140px;
   height: 48px;
   border:none;
   background-color: #b59f5b;
   font-size:14px;
   color:#ffffff;
   font-weight:bold;
   text-transform:uppercase;
  }
.footer{
  margin:0 auto;
  text-align: center;
  padding-top:40px;
 
}
.socials-list{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0;
  align-items: center; 
  padding: 30px 0;
  margin: 0;
  background-color: #f4f7f6;
  justify-content: center;
  
}
.twitter{
 box-sizing: border-box;
 text-decoration:none;
 background-image:url(../svg/004-twitter.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.pinterest{
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(../svg/001-pinterest.svg);
  background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.facebook{
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(../svg/icons8-facebook.svg);
   background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.instagram{
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(../svg/icons8-instagram.svg);
   background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.tumblr{
  box-sizing: border-box;
  text-decoration:none;
  background-image:url(../svg/003-tumblr.svg);
  background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.dribble{
 box-sizing: border-box;
 text-decoration:none;
 background-image:url(../svg/001-dribbble.svg);
 background-repeat: no-repeat;
 background-position: center;
 background-size:22px;
 width:24px;
 height:24px;
 font-size:0;
 border: 0;
}
.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}



@media(max-width:640px) and (orientation:portrait){
  .header{
    background-image:url(../images/banner-mobile.jpg) ;
  }
  .header-content{
  width:100%;
  }
 .menu-list{
  display: none;
  }
 .nav-container{
  justify-content: center;
  align-items: center;
 }
 .header-logo-link{
  width:74%;
  padding-top: 236px;
  }
  .menu-btn {
  position: absolute;
  top: 32px;
  right: 15px;
  width: 23px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
#menu-toggle{
  opacity: 0;
  display: none;
}
.welcome-container{
  font-size: 26px;
  line-height: 36px;
  width: 77%;
  padding-top:44px;
  padding-bottom:218px;
  }
  .trends-header-title{
     padding-top: 44px;
     margin-bottom:25px;
     font-size: 16px;
  }
  .trends-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .trend{
    height: 231px;
  }
  .trend:nth-child(1n+2){
    margin-top: 0.5%;
  }
  .trend-container-title{
    font-size: 16px;
  }
  .body-page{
    width: 92%;/* Или в пикселях????? max-width */
    padding: 44px 0 0 0;
    margin: 0 auto;
    flex-direction: column;
  }
  .last-post{
    margin-bottom: 35px;
  }
  .post-preview{
  width: 100%;
  margin-bottom: 17px;
  }
  .post-content{
  border-bottom:3px solid #eeeeee;
}
  .post-image{
    width: 100%;
  }
  .post-title{
  font-size: 16px;
  line-height: 20px;
  }
  .post-add-info{
    margin-top: 15px;
  }
  .post-description{
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}
  .new-posts-block-title-link{
 font-size:16px;
}
.new-post{
  width:100%;
}
.new-post-preview{
  width: 21%;
  margin-right:20px;
}
.new-post-image{
  width:100%;
}
.new-post-content{
}
.search{
  width: 100%;
}
.search-field{
  width: 85%;
}
.search-button{
  min-width: 15%;
}
.email-block{
  margin-top:44px;
}
.email-header{
  font-size:16px;
  margin-bottom:23px;
}
.email-field{
  width: 100%;
}
.subscription-button{
  width: 100%;
}
.tags-block{
  margin-top:44px;
}
.tags-header{
  font-size:16px;
}
.tags-list{
  margin-bottom: 0;
}
.topics-header{
  font-size:16px;
  margin-bottom:25px;
}
.topics-block{
  margin-top:43px;
}
.topics-list{
  margin-bottom: 0;
}
.products-block{
  width:92%;
  padding: 44px 0 0 0;
}
.products-block-header-title{
     font-size: 16px;
  }
  .products-container{
    flex-direction: column;
    width:100%;
  }
  .product-name{
    font-size: 17px;
    margin: 0 0 10px 0;
  }
  .product-footer{
    margin-top: 25px;
  }
  .footer{
  width: 92%;
}
.dribble{
  display: block;
 }
 .pinterest{
  display: block;
 }
 .tumblr{
  display: block;
 }
 .socials-list-item:nth-last-child(2n+1){
  margin-right:0;
}
.socials-list-item{
  margin-right: 30px;
}
}

@media(max-width:640px) and (orientation:landscape){
  .header{
    background-image:url(../images/banner-mobile.jpg) ;
  }
  .header-content{
  width:100%;
  }
 .menu-list{
  display: none;
  }
 .nav-container{
  justify-content: center;
  align-items: center;
 }
 .header-logo-link{
  width:74%;
  padding-top: 236px;
  }
  .menu-btn {
  position: absolute;
  top: 32px;
  right: 15px;
  width: 23px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
#menu-toggle{
  opacity: 0;
  display: none;
}
.welcome-container{
  font-size: 26px;
  line-height: 36px;
  width: 77%;
  padding-top:44px;
  padding-bottom:218px;
  }
  .trends-header-title{
     padding-top: 44px;
     margin-bottom:25px;
     font-size: 16px;
  }
  .trends-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .trend{
    height: 280px;
    width: 49.5%;
  }
  .trend:nth-child(1n+3){
    margin-top: 0.5%;
  }
  .trend-container-title{
    font-size: 16px;
  }
  .body-page{
    width: 92%;/* Или в пикселях????? max-width */
    padding: 44px 0 0 0;
    margin: 0 auto;
    flex-direction: column;
  }
  .last-post{
    margin-bottom: 35px;
  }
  .post-preview{
  width: 100%;
  margin-bottom: 17px;
  }
  .post-content{
  border-bottom:3px solid #eeeeee;
}
  .post-image{
    width: 100%;
  }
  .post-title{
  font-size: 16px;
  line-height: 20px;
  }
  .post-add-info{
    margin-top: 15px;
  }
  .post-description{
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}
  .new-posts-block-title-link{
 font-size:16px;
}
.new-post{
  width:100%;
}
.new-post-preview{
  width: 21%;
  margin-right:20px;
}
.new-post-image{
  width:100%;
}
.new-post-content{
}
.search{
  width: 100%;
}
.search-field{
  width: 85%;
}
.search-button{
  min-width: 15%;
}
.email-block{
  margin-top:44px;
}
.email-header{
  font-size:16px;
  margin-bottom:23px;
}
.email-field{
  width: 100%;
}
.subscription-button{
  width: 100%;
}
.tags-block{
  margin-top:44px;
}
.tags-header{
  font-size:16px;
}
.tags-list{
  margin-bottom: 0;
}
.topics-header{
  font-size:16px;
  margin-bottom:25px;
}
.topics-block{
  margin-top:43px;
}
.topics-list{
  margin-bottom: 0;
}
.products-block{
  width:92%;
  padding: 44px 0 0 0;
}
.products-block-header-title{
     font-size: 16px;
  }
  .products-container{
    flex-direction: column;
    width:100%;
  }
  .product-name{
    font-size: 17px;
    margin: 0 0 10px 0;
  }
  .product-footer{
    margin-top: 25px;
  }
  .footer{
  width: 92%;
}
.dribble{
  display: block;
 }
 .pinterest{
  display: block;
 }
 .tumblr{
  display: block;
 }
 .socials-list-item:nth-last-child(2n+1){
  margin-right:0;
}
.socials-list-item{
  margin-right: 30px;
}
}



@media(min-width:641px) and (max-width:1199px) and (orientation:portrait){
  .header{
    background-image:url(../images/banner-bg-tablet.jpg) ;
  }
 .menu-list{
  display: none;
  }
 .header-content{
  width:90%;
  }
 .header-logo-link{
  width:23%;
  max-width:155px;
  }
.nav-container{
  padding-top:49px;
  justify-content: space-between;
  }
  .menu-btn {
  position: absolute;
  top: 61px;
  right: 0px;
  width: 23px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
#menu-toggle{
  opacity: 0;
}
 .welcome-container{
  font-size: 40px;
  line-height: 55px;
  width: 89%;
  padding-top:103px;
  padding-bottom:125px;
  }
 .trends-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .trend{
    height: 280px;
    width: 49.5%;
  }
  /*.trend:nth-child(2n+1){
    margin-right: 0.5%;
  }*/
  .trend:nth-child(1n+3){
    margin-top: 0.5%;
  }
  .trend-container-title{
    font-size: 20px;
  }
  .trends-header-title{
     padding-top: 48px;
     margin-bottom:18px;
     font-size: 20px;
  }
  .body-page{
    width: 91%;/* Или в пикселях????? max-width */
    padding: 50px 0 0 0;
    margin: 0 auto;
    display:flex;
  }
   .last-news-section{
    width:56%;
    margin-right:5%;
  }
  .last-post{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  }
.last-post:nth-child(n+2){
  margin-top: 42px;
  }
  .post-preview{
  width: 100%;
  margin-bottom: 10px;
  }
  .post-image{
  width:100%;
  }
  .post-content{
  width:100%;
  box-sizing: border-box;
  border-bottom:3px solid #eeeeee;
}
.post-title{
  font-size: 20px;
  line-height: 24px;
}
.post-add-info{
  margin-top: 36px;
}
.post-description{
  font-size: 15px;
  line-height: 22px;
  margin-top: 38px;
}
  .side-bar{
  width:39%;
}
.new-post-preview{
  margin-right:15px;
}
.new-post-image{
  width:71px;
}
.new-post-content{
  width:182px;
}
  .new-posts-block-title-link{
 font-size:14px;
}
.search-field{
  width: 220px;
}
.search-button{
  min-width: 48px;
}
.email-block{
  margin-top:58px;
}
.email-field{
  width: 269px;
}
.subscription-button{
  width: 269px;
}
.email-header{
  font-size:14px;
  margin-bottom:29px;
}
.tags-block{
  margin-top:60px;
}
.tags-header{
  font-size:14px;
}
.topics-header{
  font-size:14px;
  margin-bottom:19px;
}
.topics-block{
  margin-top:54px;
}
.products-block{
  /*max-width: 1075px;*/
  width: 91%;/* Или в пикселях????? max-width */
  padding: 0;
  margin: 0 auto;
  display:flex;
}
.products-block-header-title{
     padding-top: 47px;
     font-size: 20px;
  }
  .products-container{
    flex-wrap: wrap;
    flex-direction: row;
  }
  .product-block{
    width: 48%;
  }
  .product-name{
    font-size: 17px;
    margin: 0 0 2px 0;
  }
  .product-footer{
    margin-top: 23px;
  }
  .footer{
    max-width: 1200px;
  }
 .twitter{
  display: none;
 }
 .instagram{
  display: none;
 }
 .facebook{
  display: none;
 }
 .dribble{
  display: block;
 }
 .pinterest{
  display: block;
 }
 .tumblr{
  display: block;
 }
 .socials-list-item:nth-last-child(2n+1){
  margin-right:0;
}
.socials-list-item{
  margin-right: 30px;
}
}
@media(min-width:641px) and (max-width:1199px) and (orientation:landscape){
  .header{
    background-image:url(../images/banner-bg-tablet.jpg) ;
  }
 .menu-list{
  display: none;
  }
 .header-content{
  width:90%;
  }
 .header-logo-link{
  width:23%;
  max-width:155px;
  }
.nav-container{
  padding-top:49px;
  justify-content: space-between;
  }
  .menu-btn {
  position: absolute;
  top: 61px;
  right: 0px;
  width: 23px;
  height: 20px;
  cursor: pointer;
  z-index: 1;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu-btn > span::before {
  content: '';
  top: -8px;
}
.menu-btn > span::after {
  content: '';
  top: 8px;
}
#menu-toggle{
  opacity: 0;
}
 .welcome-container{
  font-size: 40px;
  line-height: 55px;
  width: 89%;
  padding-top:103px;
  padding-bottom:125px;
  }
 .trends-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .trend{
    height: 280px;
    width: 25%;
  }
 .trend:not(:last-of-type){
     margin-right: 2px;
   }
  .trend-container-title{
    font-size: 20px;
  }
  .trends-header-title{
     padding-top: 48px;
     margin-bottom:18px;
     font-size: 20px;
  }
  .body-page{
    width: 91%;/* Или в пикселях????? max-width */
    padding: 50px 0 0 0;
    margin: 0 auto;
    display:flex;
  }
   .last-news-section{
    width:56%;
    margin-right:5%;
  }
  .last-post{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  }
.last-post:nth-child(n+2){
  margin-top: 42px;
  }
  .post-preview{
  width: 100%;
  margin-bottom: 10px;
  }
  .post-image{
  width:100%;
  }
  .post-content{
  width:100%;
  box-sizing: border-box;
  border-bottom:3px solid #eeeeee;
}
.post-title{
  font-size: 20px;
  line-height: 24px;
}
.post-add-info{
  margin-top: 36px;
}
.post-description{
  font-size: 15px;
  line-height: 22px;
  margin-top: 38px;
}
  .side-bar{
  width:39%;
}
.new-post-preview{
  margin-right:15px;
}
.new-post-image{
  width:71px;
}
.new-post-content{
  width:182px;
}
  .new-posts-block-title-link{
 font-size:14px;
}
.search-field{
  width: 220px;
}
.search-button{
  min-width: 48px;
}
.email-block{
  margin-top:58px;
}
.email-field{
  width: 269px;
}
.subscription-button{
  width: 269px;
}
.email-header{
  font-size:14px;
  margin-bottom:29px;
}
.tags-block{
  margin-top:60px;
}
.tags-header{
  font-size:14px;
}
.topics-header{
  font-size:14px;
  margin-bottom:19px;
}
.topics-block{
  margin-top:54px;
}
.products-block{
  /*max-width: 1075px;*/
  width: 91%;/* Или в пикселях????? max-width */
  padding: 0;
  margin: 0 auto;
  display:flex;
}
.products-block-header-title{
     padding-top: 47px;
     font-size: 20px;
  }
  .products-container{
    flex-wrap: wrap;
    flex-direction: row;
  }
  .product-block{
    width: 48%;
  }
  .product-name{
    font-size: 17px;
    margin: 0 0 2px 0;
  }
  .product-footer{
    margin-top: 23px;
  }
  .footer{
    max-width: 1200px;
  }
 .twitter{
  display: none;
 }
 .instagram{
  display: none;
 }
 .facebook{
  display: none;
 }
 .dribble{
  display: block;
 }
 .pinterest{
  display: block;
 }
 .tumblr{
  display: block;
 }
 .socials-list-item:nth-last-child(2n+1){
  margin-right:0;
}
.socials-list-item{
  margin-right: 30px;
}
}



@media(min-width:1200px){
  .header{
    background-image:url(../images/banner-bg.jpg) ;
  }
  .header-content{
  width:70%;
  }
  .header-logo-link{
  width:14%;
  min-width: 186px;
  }
  .nav-container{
  padding-top:20px;
  justify-content: space-between;
  }
  .menu{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 13px;
  text-transform: uppercase;
  width:522px;
  }
.menu-list{
  display:flex;
  list-style: none;
}
.menu-list-item:nth-last-child(n+2){
  margin-right:35px;
}
.menu-link{
  text-decoration: none;
  color:#ffffff;
}
  .hamburger{
    display:none;
  }
  .welcome-container{
  font-size: 45px;
  line-height: 75px;
  width: 59%;
  padding-top:80px;
  padding-bottom:143px;
  }
	.trends-container{
    height: 320px;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .trend{
    height: 320px;
    width: 25%;
  }
  .trend:not(:last-of-type){
     margin-right: 5px;
   }
   .trend-container-title{
    font-size: 20px;
  }
   .trends-header-title{
     padding-top: 58px;
     margin-bottom:28px;
     font-size: 20px;
  }
  .body-page{
    max-width: 1200px;
    padding: 64px 0 0 0;
    margin: 0 auto;
   }
   .last-news-section{
  width:74%;
  margin-right:3%;
}
.last-post{
  display:flex;
  flex-wrap: nowrap;
}
.last-post:nth-child(n+2){
  margin-top: 60px;
  }
  .post-preview{
  margin-right: 30px;
  }
.post-image{
  width:100%;
  }
  .post-content{
  width:366px;
  box-sizing: border-box;
}
.post-title{
  font-size: 20px;
  line-height: 24px;
}
.post-add-info{
  margin-top: 36px;
}
.post-description{
  font-size: 15px;
  line-height: 22px;
  margin-top: 38px;
}
.side-bar{
  width:23%;
  }
  .new-posts-block-title-link{
 font-size:14px;
}
.new-post-preview{
  margin-right:15px;
}
.new-post-image{
  width:71px;
}
.new-post-content{
  width:182px;
}
.search-field{
  width: 220px;
}
.search-button{
  min-width: 48px;
}
.email-block{
  margin-top:58px;
}
.email-header{
  font-size:14px;
  margin-bottom:29px;
}
.email-field{
  width: 269px;
}
.subscription-button{
  width: 269px;
}
.tags-block{
  margin-top:60px;
}
.tags-header{
  font-size:14px;
}
.topics-header{
  font-size:14px;
  margin-bottom:19px;
}
.topics-block{
  margin-top:54px;
}
 .products-block{
  max-width: 1200px;
  }
  .products-block-header-title{
     padding-top: 62px;
     font-size: 20px;
  }
  .product-block{
    width: calc(33.33% - 130px/3);
  }
  .product-name{
    font-size: 20px;
    margin: 0 0 8px 0;
  }
  .footer{
    max-width: 1200px;
  }
  .twitter{
  display: block;
 }
 .instagram{
  display: block;
 }
 .facebook{
  display:block;
 }
 .dribble{
  display: block;
 }
 .pinterest{
  display: block;
 }
 .tumblr{
  display: block;
 }
 .socials-list-item:nth-last-child(n+2){
  margin-right:28px;
}
}